{% extends "base.html" %}
{% block content %}

{% include "pages/partials/_sidebar.html" %}

<main class="flex-1 flex flex-col h-full overflow-hidden relative">
  <header class="bg-white border-b border-gray-200 p-4 flex justify-between items-center md:hidden">
    <span class="font-bold text-lg text-slate-800">{{ app_name }}</span>
    <button class="text-slate-600"><i class="fa-solid fa-bars"></i></button>
  </header>

  <div class="flex-1 overflow-y-auto p-4 md:p-8 relative">
    {% include "pages/partials/_dashboard_view.html" %}

    <div id="view-wizard" class="view-section hidden fade-in max-w-4xl mx-auto">
      {% include "pages/partials/_wizard_stepper.html" %}
      {% include "pages/partials/_wizard_step_1_format.html" %}
      {% include "pages/partials/_wizard_step_2_package_sections.html" %}
      {% include "pages/partials/_wizard_step_3_details.html" %}
      {% include "pages/partials/_wizard_step_4_provider.html" %}
      {% include "pages/partials/_wizard_step_5_generation.html" %}
      {% include "pages/partials/_wizard_step_6_build.html" %}
      {% include "pages/partials/_wizard_step_7_downloads.html" %}
    </div>

    {% include "pages/partials/_admin_prompts_view.html" %}
    {% include "pages/partials/_prompt_package_index_view.html" %}
    {% include "pages/partials/_prompt_admin_modal.html" %}
    {% include "pages/partials/_budget_modal.html" %}
  </div>
</main>

{% endblock %}
